@model Mostashfety.BLL.ViewModels.MedicalVM.CreateMedicalVM
<div class="m-lg-5" style="margin-left: 20px ">
  
    <h2>Create Record</h2>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="DoctorName">DoctorName</label>
            <input asp-for="DoctorName" class="form-control" />
            <span asp-validation-for="DoctorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="PatientName">PatientName</label>
            <input asp-for="PatientName" class="form-control" />
            <span asp-validation-for="PatientName" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label for="Diagnosis">Diagnosis</label>
            <textarea asp-for="Diagnosis" class="form-control"></textarea>
            <span asp-validation-for="Diagnosis" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Treatment">Treatment</label>
            <textarea asp-for="Treatment" class="form-control"></textarea>
            <span asp-validation-for="Treatment" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Date">Date</label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
            </div>


        <br/>

        <button type="submit" class="btn btn-primary">Create</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
    </form>
</div>

