
@model Mostashfety.BLL.ViewModels.DoctorVM.GetDoctorVm
<div class="m-lg-5" style="margin-left: 20px ">
    <h2>Doctor Details</h2>

    <div>
        <h3>@Model.FullName</h3>
        <h3>@Model.specialization</h3>
        <h4>@Model.Department</h4>
     </div>
     <br />
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</div>